h1,h2{
    background-color: chocolate ;
    color: white;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 5px;
}
ul,ol{
    font-size: 24px;
    background-color: wheat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
p{
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 10px solid black;
    width:20%;
}
a{
    text-decoration: none;
}
button{
    display: block;
    padding: 10px;
    background-color: rgb(233, 68, 68);
}